<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" routerLink="/">Quizzie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/list">Quizzes</a>
            </li>

        </ul>
        
        <ul class="navbar-nav ml-auto">
        
        		<!-- template will replace this div -->
        		<li class="nav-item" *ngIf="!auth.getStatus()">
                	<button class="btn btn-primary" (click)="auth.googleSignin()">Log In</button>
            	</li>
            	<li class="nav-item" *ngIf="auth.getStatus()">
                	<button class="btn btn-primary" (click)="auth.signOut()">Log out</button>
            	</li>
           
            <!--<li>
                <a class="nav-link" (click)="onSignup()">Sign Up</a>
            </li>-->
        </ul>
    </div>
</nav>