<div  class="container-fluid"> 
	<div class="progress progbar">
		<div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{progressPercentage}}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{progressPercentage}}%</div>
	</div>
		<div *ngIf="started">
		<ul>	
		  <div *ngFor="let question of questions.questions; let i = index">
		  <div *ngIf="i == count">
			  <div class="container border rounded questionborder">
			  	 <div *ngIf="timerStatus === 'stilltime'" class="btn btn-primary btn-circle btn-xl">{{secondsToDday}}</div>
			  	 <div *ngIf="timerStatus === 'timeupsoon'" class="btn btn-danger btn-circle btn-xl">{{secondsToDday}}</div>
				  <h2 class="text-center">{{question.question_prompt}}</h2>
				   <div class="row justify-content-center">
				    
					<div class="card btn-image" style="background-image: url({{question.pic1url}}) !important;"></div>
					<div class="card btn-image" style="background-image: url({{question.opurl}}) !important;"></div>
					<div class="card btn-image" style="background-image: url({{question.pic2url}}) !important;"></div>
					
				 </div>
				 <br><br>
				 <div class="row justify-content-center">
				 	<input #input type="text" class="form-control userinput" name="useranswer"
				 	placeholder="Type Your Guess" (keyup)="checkAnswer(input.value)">	
				
				<h3 *ngIf="!timerOff" style="margin-top: 20px; font-size: {{size}}em; color: {{color}}; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;">Time! The answer is {{question.correct_answer}}</h3> 
				 </div> 
				 <div *ngIf="correctAnswer === 'correct' " class="row justify-content-center text-success">
				 	<label style="position: absolute;">Correct!</label>
				 	<iframe src="https://giphy.com/embed/QBC5foQmcOkdq" width="160" height="160" frameBorder="0" class="giphy-embed" style="margin-top: 1rem !important;"></iframe>
				 </div>
				 <div *ngIf="correctAnswer === 'wrong' " class="row justify-content-center text-danger">
				 	<label style="position: absolute;">Try again!</label>
				 	<iframe src="https://giphy.com/embed/wFwfQDzwuLKzC" width="160" height="160" frameBorder="0" class="giphy-embed" style="margin-top: 1rem !important;">></iframe>
				 </div>
			</div>
		</div>
		  </div>
		  </ul>
		  
		  <div class="row justify-content-center">
		  <div *ngIf="count != 0">
		  <input class="btn btn-primary" type="button" value="Back" (click)="prevQuestion()">
		  </div>
		<div *ngIf="count != 4">
			<!--<input class="btn btn-primary" type="reset" value="Save" routerLink="/list">-->
			<input class="btn btn-primary" type="reset" value="Check" (click)="check()">
			<input class="btn btn-primary" type="button" value="Next" (click)="nextQuestion()" [disabled]="!proceedAvailable()">
		</div>
		<div *ngIf="count == 4">
			<input class="btn btn-primary" type="reset" value="Check" (click)="check()">
			<input class="btn btn-primary" type="submit" value="Done" routerLink="/emojiresult" [disabled]="!proceedAvailable()"
			 [queryParams]= "{ type: this.userAnswers }">
		</div>
		</div>
		  </div>
		  
		  <div *ngIf="started == false">
			  
			  <div class="container border rounded quizborder">
			  <ul>
					  <h2 class="text-center">{{questions.name}}</h2>
				<div class="row justify-content-center">
					<ul>
					<p>Can you guess the foods you eat through emojis? Take this food emoji quiz to find out!</p>
					</ul>
					<ul>
					<div class="card start-image">
						<img src="{{questions.main_image}}" alt="{{questions.type}}">
						
					</div>
					</ul>
				</div>
			</ul><br><br>
			<div class="row justify-content-center">
				<input class="col-md-3 btn btn-primary" type="button" value="Go Back" routerLink="/list">
				<input class="col-md-3 btn btn-primary" type="button" value="Start quiz" (click)="startQuiz()">
			</div>
			</div>
			
			  
		  </div>
	</div>