.list{
    background-color: #eaf8f9;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 80px;
    border-radius: 6px;
}

.list-header{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 35px;
}

.list-item{
    margin-bottom: 30px;
}

.item-header{
    font-size: 30px;
    font-weight: bold;
}

.item-subheader{
    font-size: 15px;
}

.btn{
    margin-top: 40px;
    background-color: #18fe8b;
}

.btn:hover{
    background-color: #1cb367;
}