.list{
    background-color: #eaf8f9;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 80px;
    border-radius: 6px;
}

.list-header{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 35px;
}

.list-item{
    font-size: 20px;
}