.welcome{
    padding-top: 120px;
    padding-bottom: 200px;
    background-color: #006BE1;
    color: white;
    
}

.popular-list{
    margin-top: 100px;
}

.btn{
    background-color: #18cafe;
    color: white;
}

.btn:hover{
    background-color: #01a3d1;
}

.btn-lg{
    padding: 15px 30px;
}