<div class="container-fluid welcome">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-8">
                <div class="title">
                    <h1>
                        Welcome to Quizzie!
                    </h1>
                </div>
                <div class="mt-3 subtitle">
                    <h5>
                        Any recommendation, any time.
                    </h5>
                </div>
                <div class="row mt-5 col-6">
                    <a href="/list" class="btn btn-lg" role="button" aria-pressesd="true">Get started</a>
                </div>
            </div>
            <div class="col-sm-4 quizzie-img">
                <img src="" class="img-fluid" alt="Image of Quizzie">
            </div>
        </div>
    </div>
</div>

<div  class="container mt-5 list">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center list-header">
            <strong>Popular Quizzes</strong>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center list-item" *ngFor="let data of quizData">
           <a href='#'>{{data.type}}</a>
        </div>
    <div>

</div>




