<div class="container welcome">
    <div class="row justify-content-end">
        <div class="col-8">
            <div class="title">
                <h1>
                    Welcome to Quizzie!
                </h1>
            </div>
        </div>
    
        <div class="col-4 quizzie-img">
            <img src="" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 sub-title">
            <h5>
                Any recommendation, any time.
            </h5>
        </div>
    </div>
    <div class="row mt-5 col-6">
        <a href="/list" class="btn btn-primary btn-lg" role="button" aria-pressesd="true">Get started</a>
    </div>
</div>

<div class="container popular-list">
    <h4>
        Popular quizzes:
    </h4>
    
</div>




